<!-- Bio Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                        Brothergood consists of two Finnish brothers, Timo (lyrics, rapping, vocals) and Juha (composer, producer, vocals). <br />
                        They are based in Lieto and Turku, respectively.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1980's</h4>
                                    <h4 class="subheading">Early childhood</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The brothers have a long musical history dating back to 1980’s when Juha had his first keyboards and Timo had his drums. Some songs were recorded already back then, using a boombox-like cassette recorder. Luckily, that evidence seems to be completely lost today.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Early 2000's</h4>
                                    <h4 class="subheading">First semi-professional songs done</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first hiphop/rap songs were made together in the early 2000’s. While Juha had his interest in electronic dance music, Timo had been influenced by rap-artists like Talib Kweli and Kanye West and started to work on his own lyrical ideas. At that time, Timo wrote music mostly about his own life while Juha stayed more in the background forces. During the years, their style has varied a lot. Luckily, most of the songs have been buried in undisclosed locations.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">Brothergood is born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The final concept of making music together was established in 2013. The brothers both work on song ideas, collaborating partly also on the lyrics and the melodies. Brothergood was born.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2013</h4>
                                    <h4 class="subheading">First song released</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first released song was Goodbye June, which was selected as a “weekly garage band song” on a Finnish major radio station YleX. The song received encouraging feedback from people liking all kinds of musical genres. The Brothergood style was found. Brothergood stands for everything positive, everything good.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Album 
                                    <br>Released
                                    <br>1.1.2015</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2015</h4>
                                    <h4 class="subheading">First album release</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After 1,5 years of work, Brothergood releases their first EP album called <i>Beautiful</i>. Album includes five songs and is available in major digital music stores and streaming services.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>